* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {

    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* Обнуление  */

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: rgb(94, 94, 94);
    line-height: 1;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}


/* -------НАЛАШТУВАННЯ АДАПТИВУ---------- */
._container {
    max-width: 808px;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    margin: 0 auto;
}

.title {
    font-size: 30px;
    color: #fff;
    line-height: 130%;
}

@media(max-width:767.98px) {
    .title {
        font-size: 24px;
    }
}

.title--dark {
    color: black;
}

.text {
    line-height: 185%;
}

.text p:not(:last-child) {
    margin-bottom: 15px;
}

/* -----------------PAGE----------------- */
.page {
    flex: 1 1 auto;

}

.page__main {}

.page__materials {}

.page__inovate {}

.page__info {}

/* -----------------HEADER----------------- */
.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s;
    opacity: 0.2;
}

.header.scroll::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.header__container {
    display: flex;
    position: relative;
    z-index: 2;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 105px;
}

.header__logo {
    overflow: hidden;
}

.header__logo img {
    width: 32px;
}

@media(max-width:39.0625rem) {
    .header__container {
        min-height: 70px;
    }

    .header__body {
        column-gap: 1.25rem;
    }

    .header__button {
        padding: 0.625rem 0.9375rem;
    }

    .menu__list {
        column-gap: 1.25rem;
        font-size: 14px;
    }

    .header__logo {
        flex: 0 0 2.0625rem;
    }
}

.header__body {
    display: flex;
    align-items: center;
    column-gap: 43px;
}



.header__menu {}

.header__button {
    color: #3b3b3b;
    padding: 10px 21px;
    background-color: #fff;
    border-radius: 4px;
    transition: all 0.3s;
}

.header__button:hover {
    background-color: rgb(99, 98, 98);
    color: #fff;
}



.menu {}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 40px;
    row-gap: 10px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 500;
}



.menu__item {}

.menu__link {
    color: inherit;
}

.menu__link:hover {
    text-decoration: underline;
}



/* -----------------MAIN-SECTION------------- */

.main-section {
    min-height: 100vh;
    position: relative;
    display: flex;
}

.main-section__container {
    padding-top: 90px;
    padding-bottom: 50px;
    position: relative;
    z-index: 2;
    gap: 20px;
    grid-template-columns: 54.320988% 1fr;
    flex: 1 1 auto;
    display: grid;
    align-items: center;
}

@media(max-width: 43.75em) {
    .main-section__container {
        grid-template-columns: auto;
        align-content: center;
    }
}

.main-section__content {}

.main-section__label {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

.main-section__label:not(:last-child) {
    margin: 15px 0px;
}

.main-section__title {}

.main-section__video-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    text-shadow: 5px 4px 4px rgba(31, 31, 31, 1);
}



@media(min-width:43.75em) {
    .main-section__video-link {
        justify-self: center;
    }
}

.main-section__video-link::before {
    content: "";
    width: 32px;
    height: 32px;
    flex: 0 0 32px;
    border-radius: 50%;
    background: url(../img/play.svg) left no-repeat;
    transition: all 0.3s;
}

.main-section__video-link:hover::before {
    transform: scale(110%);

}

.main-section__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;

}

.main-section__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

@media(max-width:43.75em) {
    .main-section__image img {
        opacity: 0.6;
    }
}

/* --------------MATERIALS------------------- */
/* ----------Підключення свайперу----------------------- */
.swiper {
    overflow: hidden;
}

.swiper-initialized {
    touch-action: pan-y;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: content-box;
}

.swiper-slide {
    flex-shrink: 0;
}

/* ---------------------------------------------------- */
.materials {
    position: relative;
    z-index: 2;
}



.materials__container {
    position: relative;
    padding-bottom: 20px;
    z-index: 2;
    display: grid;
    grid-template-columns: 50% minmax(17.5rem, 20.3125rem);
    justify-content: space-between;
    align-items: start;
    gap: 1.25rem;
    min-width: 0;
}

.materials__content {
    padding: 1.5625rem;
    display: grid;
    gap: 0.8125rem;
    justify-items: start;
}

.materials__title {
    font-weight: 600;
}


.materials__text {}

.materials__more {
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    padding: 10px 15px;
    border: 1px solid #645d70;
    color: #3b3b3b;
    transition: all 0.3s;
}

.materials__more:hover {
    transform: scale(110%);
    background-color: #5f5f5f;
    color: #fff;
}

.materials__slider {
    transform: translate(0, -20.765027%);
}

.slider-materials {
    position: relative;

}


.slider-materials__wrapper {}



.slider-materials__slide {
    aspect-ratio: 325 / 366;
    position: relative;
}

.slider-materials__slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}



.slider-materials__pagination {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    gap: 0.5rem;
    bottom: 0;
    padding: 0 0.3125rem 1rem 0.3125rem;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100%;
}

.slider-materials__pagination .swiper-pagination-bullet {
    flex: 0 0 0.5rem;
    height: 0.5rem;
    background-color: #fff;
    opacity: 0.4;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.3s;
}

.slider-materials__pagination .swiper-pagination-bullet-active {
    opacity: 1;
}

@media(min-width:767.98px) {
    .materials::before {
        content: "";
        background-color: #ffffff;
        position: absolute;
        left: 0;
        top: 0;
        height: 38px;
        transform: translate(0px, -100%);
        width: 61.7%;
    }

    .materials::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        height: 140px;
        background-color: #282727;
        width: 38.3%;
    }
}

@media(max-width:767.98px) {
    .materials__container {
        grid-template-columns: auto;
    }

    .materials__slider {
        transform: translate(0, 0);
    }
}

/* ----------------INOVATE------------ */

.inovate {
    background-color: #282727;
    padding: 70px 0px 80px 0px;
}

.inovate__container {}

.inovate__title {}

.inovate__title:not(:last-child) {
    margin-bottom: 8px;
}


.inovate__text {
    font-size: 16px;
    color: #fff;
    columns: 2 250px;
    gap: 43px;
}

@media(max-width:767.98px) {
    .inovate {
        padding: 30px 0px 30px 0px;
    }
}

/* ----------------INFO----------------------- */

.info {
    padding-top: 85px;
    padding-bottom: 85px;
}

.info__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 75px;
    row-gap: 30px;
}

.info__image {
    text-align: center;
}

.info__image img {
    max-height: 500px;
    max-width: 100%;
}

.info__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 37px;
}

.info__item {}

.info__title {
    font-size: 18px;
    font-weight: 600;

}

.info__title:not(:last-child) {
    margin-bottom: 4px;
}

.info__text {
    color: #2a2929;
    font-size: 13px;

}

@media(max-width:840px) {
    .info__content {
        column-gap: 20px;
    }

    .info__container {
        column-gap: 25px;
    }
}

@media(max-width:767.98px) {
    .info {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .info__container {
        grid-template-columns: auto;
    }

    .info__image {
        order: 2;
    }

    .info__content {
        order: 1;
    }
}

/* ----------------FOOTER---------------- */
.footer {
    background-color: #282727;
    padding-top: 33px;
    padding-bottom: 33px;
}

.footer__container {
    display: grid;
    align-items: center;
    column-gap: 15px;
    row-gap: 20px;
    color: inherit;
    grid-template-columns: repeat(3, 1fr);
}

@media(max-width:600px) {
    .footer__container {
        grid-template-columns: auto;
        justify-content: center;
        text-align: center;
    }
}

.footer__mail {
    color: #fff;
}

.footer__mail:hover {
    text-decoration: underline;
}

.footer__logo {
    justify-self: center;
}

.footer__menu {}

.menu-footer {
    justify-self: end;
    display: flex;
    gap: 30px;
    align-items: center;
}

.menu-footer__item {}

.menu-footer__link {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.menu-footer__link:hover {
    text-decoration: underline;
}